<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Exercise 2: Create markdown cell with title of the notebook

# Data Science Tools and Ecosystem

# Exercise 3 - Create a markdown cell for an introduction

## In this notebook, Data Science Tools and Ecosystem are summarized.

# Exercise 10 - Insert a markdown cell to list Objectives

**Objectives:**
* Create Markdown Cells
* List popular languages for Data Science
* List some commonly used libraries used by Data Scientist
* Create a table with Data Science Tools
* Create Code cells with arithmetic expressions

#Exercise 4 - Create a markdown cell to list data science languages

## Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Java
5. C++
6. Julia

#Exercise 5 - Create a markdown cell to list data science libraries

## Some of the commonly used libraries used by Data Scientists include:

1. dplyr
2. stringr
3. ggplot
4. caret

# Exercise 6 - Create a markdown cell with a table of Data Science tools

| Data Science Tools |
|--------------------|
| Jupyter Notebooks  |
|       R Studio     |
|        Spyder      |

# Exercise 7 - Create a markdown cell introducing arithmetic expression examples

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
print("Exercise 8 - Create a code cell to multiply and add numbers")

print("This a simple arithmetic expression to mutiply then add integers.")

(3*4)+5

Exercise 8 - Create a code cell to multiply and add numbers
This a simple arithmetic expression to mutiply then add integers.

17

In [6]:
print("Exercise 9 - Create a code cell to convert minutes to hours")

print("")

print("This will convert 200 minutes to hours by diving by 60")

print("")

print("(200 minutes*1 hour)/60 minutes")

print("")
print("")

print("Result:")

x=200/60

print(x)

print("hours")

Exercise 9 - Create a code cell to convert minutes to hours

This will convert 200 minutes to hours by diving by 60

(200 minutes*1 hour)/60 minutes


Result:
3.3333333333333335
hours

# Exercise 11 - Create a markdown cell to indicate the Author's name

## Author:

###### Alberto Mario Castro Pereira